{% extends 'layout.html' %}

{% block content %}
  {% include 'partials/views/diagnostico.html' %}
  {% include 'partials/views/promedios.html' %}
  {% include 'partials/views/programacion.html' %}
  {% include 'partials/views/vehiculos.html' %}
  {% include 'partials/views/lavados.html' %}
  {% include 'partials/views/historial.html' %}
  {% include 'partials/views/reportes.html' %}
  {% include 'partials/views/personal.html' %}
  {% include 'partials/views/configuracion.html' %}
{% endblock %}

{% block modals %}
  {% include 'partials/modals/modal_vehiculo.html' %}
  {% include 'partials/modals/modal_lavado.html' %}
  {% include 'partials/modals/modal_import.html' %}
  {% include 'partials/modals/modal_confirm.html' %}
  {% include 'partials/modals/modal_qr.html' %}
  {% include 'partials/modals/modal_user.html' %}
  {% include 'partials/modals/modal_historial_placa.html' %}
{% endblock %}